.work-experience-outer-container {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.experience-container,
.tech-experience-container {
  display: flex;
}

.tech-experience-container {
  margin-top: -50px;
}

.experience-heading-box {
  display: flex;
  height: 30px;
  margin-top: 90px;
  width: 30%;
}

.experience-heading-border {
  border-bottom: 3px solid #11ABB0;
  margin-left: 25%;
  width: auto;
}

.experience-heading {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.experience-right-container,
.tech-skills-right-container {
  margin-top: 80px;
  width: 70%;
}

.tech-skills-right-container {
  display: flex;
}

.tech-skills-bullets {
  margin: 0% 8% 0% 2%;
  padding-bottom: 10%;
}

.job-container {
  margin-bottom: 50px;
}

.experience-title {
  font-size: 150%;
  margin-bottom: 20px;
}

.experience-position {
  font-family: 'Muli';
}

.experience-time {
  display: block;
  font-family: 'Muli';
  margin-bottom: 20px;
  margin-top: 10px;
}

.experience-item {
  font-family: 'Muli';
  margin-top: 10px;
}

@media only screen and (max-width: 760px) {

  .experience-container,
  .tech-experience-container {
    align-items: center;
    flex-direction: column;
  }

  .tech-experience-container {
    padding-bottom: 50px;
  }

  .experience-heading-box {
    margin-top: 50px;
  }

  .tech-skills-bullets {
    margin: 0px;
    padding: 0px;
  }

  .tech-skills-right-container {
    flex-direction: column;
  }

  .experience-heading-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .experience-title {
    font-size: 120%;
  }

  .experience-heading-border {
    margin: 0px;
  }

}
