.about-outer-container {
  background-color: #383838;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
}

.profile-pic-container {
  display: flex;
  height: auto;
  justify-content: center;
  width: 30%;
}

.profile-pic {
  border-radius: 100px;
  height: 200px;
  margin: 35% 0% 0% 20%;
  width: 200px;
}

.about-info-container {
  padding: 8% 10% 0% 5%;
  width: 70%;
}

.about-text {
  color: #FFF;
  font-family: 'Muli';
  letter-spacing: 0.7px;
  line-height: 180%;
}

.email-text {
  text-decoration-line: underline;
}

.contact-info-container {
  margin-top: 5%;
}

.resume-button {
  background-color: #11ABB0;
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 100%;
  height: 50px;
  margin-top: 5%;
  width: 150px;
}

.resume-button:hover {
  background-color: #B635B9;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {

  .about-outer-container {
    height: auto;
    padding-bottom: 50px;
  }

  .profile-pic-container {
    display: none;
  }

  .about-info-container {
    padding-left: 50px;
  }

}
