.contact-outer-container {
  align-items: center;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.contact-message {
  color: #b1b1b1;
  margin: 150px 0px 50px 0px;
  padding: 0px 60px 0px 60px;
  text-align: center;
}

.resume-button-footer {
  background-color: #11ABB0;
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 100%;
  height: 50px;
  margin-top: 50px;
  width: 150px;
}

.resume-button-footer:hover {
  background-color: #B635B9;
  cursor: pointer;
}

.social-icons-container {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
