.header-outer-container {
  align-items: center;
  background: center/100% url(../../images/purple_lines.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: auto;
  padding-bottom: 100px;
  width: 100%;
}

.title-name {
  display: inline-block;
  color: #FFF;
  font-family: 'Jost';
  font-size: 500%;
  font-weight: lighter;
  margin: 120px 15px 0px 15px;
  text-transform: uppercase;
}

.title-industry {
  color: #FFF;
  font-family: 'Jost';
  font-size: 150%;
}

.social-icon-container {
  margin-top: 80px;
}

.social-icons {
  height: 35px;
  margin: 0px 10px;
  width: 35px;
}

.social-icons:hover,
.down-arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform .5s;
}

.down-arrow {
  border: none;
  height: 35px;
  width: 35px;
  margin-top: 150px;
  background: center/100% url(../../images/down_arrow_icon.png);
}

@media only screen and (max-width: 950px) {

  .title-name {
    font-size: 300%;
    margin: 0px 10px 0px 10px;
  }

  .title-name:first-child {
    padding-top: 100px;
  }

}

@media only screen and (max-width: 560px) {

  .title-name {
    display: block;
    margin: 0px;
  }

  .title-name:first-child {
    padding-top: 100px;
  }

  .title-industry {
    padding-top: 20px;
    font-size: 120%;
  }

  .down-arrow-button {
    margin-top: 50%;
  }

}
