.header-outer-container {
  background: center/100% url(../../images/star_mountian_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.title-name {
  font-family: 'Jost';
  text-transform: uppercase;
  color: #FFF;
  font-size: 500%;
  font-weight: lighter;
  padding-top: 10%;
}

.title-industry {
  color: #FFF;
  font-size: 150%;
  font-family: 'Jost';
}

.social-icon-container {
  margin-top: 12%;
  display: flex;
}

.social-icons {
  height: 35px;
  width: 35px;
  margin: 0px 10px 0px 10px;
}

.down-arrow-button {
  margin-top: 10%;
}

.social-icons:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform .5s;
}
