.gameboard-outer-container {
  width: 340px;
  height: 340px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 30px;
}

.center-circle {
  height: 110px;
  width: 110px;
  border-radius: 70px;
  background-color: #313131;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.turn-text-1 {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #FFF;
  font-size: 90%;
  font-family: 'Press Start 2P', cursive;

}

.turn-text-2 {
  color: #FFF;
  font-size: 90%;
  font-family: 'Press Start 2P', cursive;
  margin-top: 10px;
}

.red-box,
.green-box,
.blue-box,
.yellow-box {
  height: 170px;
  width: 170px;
}

.red-box:focus,
.green-box:focus,
.blue-box:focus,
.yellow-box:focus {
  box-shadow: inset 0 0 10px 10px purple;
}

.red-box {
  background-color: red;
  opacity: .3;
  border-top-left-radius: 200px;
  border: 3px solid #313131;
}

.red-box:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px 10px #FFF;
}

.red-active,
.red-box:active {
  opacity: 1;
  box-shadow: 0 0 40px 20px red;
  border: 3px solid red;
}

.green-box {
  background-color: #00ff00;
  opacity: .3;
  border-top-right-radius: 200px;
  border: 3px solid #313131;
}

.green-box:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px 10px #FFF;
}

.green-active,
.green-box:active {
  opacity: 1;
  box-shadow: 0 0 40px 20px #00ff00;
  border: 3px solid #00ff00;
}

.blue-box {
  background-color: #006bff;
  opacity: .3;
  border-bottom-right-radius: 200px;
  border: 3px solid #313131;
}

.blue-box:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px 10px #FFF;
}

.blue-active,
.blue-box:active {
  opacity: 1;
  box-shadow: 0 0 40px 20px #006bff;
  border: 3px solid #006bff;
}

.yellow-box {
  background-color: yellow;
  opacity: .3;
  border-bottom-left-radius: 200px;
  border: 3px solid #313131;
}

.yellow-box:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px 10px #FFF;
}

.yellow-active,
.yellow-box:active {
  opacity: 1;
  box-shadow: 0 0 40px 20px yellow;
  border: 3px solid yellow;
}

.disabled {
  pointer-events: none;
}

.top-section,
.bottom-section {
  display: flex;
  flex-direction: column;
}

.rules-outer-container {
  margin-top: 10px;
  height: 340px;
  width: 340px;
  border: 2px dotted #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules-inner-container {
  width: 90%;
  height: 90%;
}

.rules-text {
  font-family: 'Press Start 2P', cursive;
  line-height: 25px;
  color: #FFF;
  font-size: 90%;
}
