.nav-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 35px;
  width: 100%;
}

.nav-links {
  margin: 1%;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 80%;
  height: 100%;
  padding: 2% 0.5% 0% 0.5%;
}

.nav-links:hover {
  background-color: rgba(182, 53, 185, 0.4);
}
