.nav-outer-container {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 35px;
  width: 100%;
  background-color: rgba(50, 76, 124, 0.9);
}

.nav-links {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 70%;
  height: 100%;
  padding: 0px 20px 0px 20px;
}

.nav-links:hover {
  cursor: pointer;
  background-color: rgba(182, 53, 185, 0.4);
}
